@tailwind base;
@tailwind components;
@tailwind utilities;

 /* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  /* Calculate the hexadecimal values for the colors */
  /* --foreground: rgb(var(--foreground-rgb));
  --background-start: rgb(var(--background-start-rgb));
  --background-end: rgb(var(--background-end-rgb));
} */

/* Apply the colors to the elements */
body {
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
  color: var(--foreground);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */ 

/* registration  */
.input-field{
  border: 1px solid grey;
  width: 95%;
  padding: 5px;
  border-radius: 6px;
}
.toggle-switch-label{
  padding-left: 10px;
  /* margin: 90px; */
}

.count-employee{
 
  height: 90px;
  width: 120px;
  color: white;
  padding-bottom: 12px;
  font-weight: 600;
  margin-bottom: 40px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px;

}
.total{
 
  justify-content: space-around;
}